.posts {
  margin-top: 2rem;

  & a {
    display: block;

    & + a {
      margin-top: 3rem;
    }

    strong {
      font-size: 1.75rem;
      font-weight: bold;
      color: var(--Heading);
    }

    p {
      font-size: 1.125rem;
      line-height: 2.25rem;
      color: var(--Body);
      margin-top: 0.5rem;
    }

    div {
      margin-top: 1rem;

      span {
        color: var(--Info);
        font-weight: bold;
        font-size: 0.875rem;

        & + span {
          margin-left: 1rem;
        }
      }
    }
  }
}

.buttonToCharge {
  border: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.125rem;
  background: transparent;
  color: var(--Highlight);
  margin-top: 4rem;
}
