.post{
  h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: var(--Heading);
  }

  h2 {
    font-size: 2.25rem;
    margin: 3rem 0;
    color: var(--Heading);
  }

  p, span, a, ul {
    font-size: 1.125rem;
    line-height: 1.8;
    color: var(--Body);
    margin: 1.8rem 0;
  }

  a {
    color: var(--Highlight);
  }

  strong {
    font-weight: 700;
    color: var(--Body);
  }

  ul {
    padding-left: 1.5rem;

    li {
      margin: 0.5rem 0;
    }
  }
}

.photo {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}
